<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="Base" connectionString="Data Source=10.2.0.148\DEVSTAR;Initial Catalog=Cargas;Persist Security Info=True;User ID=sa;Password=L30$2Kv.Tv112.c"
   providerName="System.Data.SqlClient" />
  <add name="Subir2.Properties.Settings.CargasConnectionString"
   connectionString="Data Source=10.2.0.148\DEVSTAR;Initial Catalog=Cargas;Persist Security Info=True;User ID=sa;Password=L30$2Kv.Tv112.c"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>

